# Entorno de ejecución: development | production | test
NODE_ENV=development

# Servidor
PORT=3000
API_PREFIX=api

# Base de datos (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/motos

# Autenticación
JWT_SECRET=cambia_esta_clave_por_una_de_al_menos_32_caracteres
JWT_EXPIRES_IN=2h
BCRYPT_SALT_ROUNDS=10

# Negocio
SHOP_NAME=Moto Center Funval
CURRENCY=BOB
MAX_DISCOUNT_PERCENT=15
